* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body.exam-lockdown-active {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media print {
  body.exam-lockdown-active {
    display: none !important;
  }
}
